<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog App</title>
</head>
<body>
    <div class="container">

        <a href="/articles/add" class="btn btn-success">Create Article</a>
        <h1 class="display-1 mb-4">Blog Posts</h1>
        

        {{#each dataset}}
        <div class="card mt-4">
            <div class="card-body">
                <h4 class="card-title">{{this.title}}</h4>
                <div class="card-subtitle text-muted mb-2">
                    Created At: {{ toShortDate this.createdAt}}
                </div>
                
                <div class="card-text mb-2">{{this.description}}</div>
                <a href="/Projects/Delete/{{this._id}}" class="btn btn-danger" onclick="return confirmDeletion()">Delete</a>
                <a href="/articles/Edit/{{this._id}}" class="btn btn-primary">Edit</a>
            </div>
        {{/each}}
        </div>
    </div>


</body>
</html>